<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Form</h1>
    <form id="post-form"> {% csrf_token %}
        <p>nome:</p>
        <input type="text" name="nome" id="nome"/><br>
        <p>email:</p>
        <input type="text" name="email" id="email"/><br>
        <p>bio:</p>
        <input type="text" name="bio" id="bio"/> <br>

        <input type="submit" >
    </form>
</body>
<script type="text/javascript">
    $(document).on('submit', '#post-form', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'/create',
            data:{
                nome:$('#nome').val(),
                email:$('#email').val(),
                bio:$('#bio').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

            },
            success: function(){

            }
        })
    })
</script>
</html>